<div  id="head">
    <h1> Pulsaciones </h1>
</div>

<div id="main" style="padding-left: 10%;">
    <p align="center">   El pulso es un reflejo de la frecuencia cardiaca, que es el número de latidos que tiene el corazón por minuto.<br>
          Habitualmente se toma el pulso en diez segundos y se multiplica por seis.<br>
          El pulso máximo a la que podría llegar una persona no debe sobrepasar el valor de 220 pulsaciones menos la edad de esa persona.</p>
          <img src="assets/pulsaciones.jpg"  width="250px" height="200px" > 
</div>
